
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tap-highlight-none {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer base {
  @font-face {
    font-family: "Dubai";
    src: url("~/assets/fonts/Dubai-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Dubai";
    src: url("~/assets/fonts/Dubai-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Dubai";
    src: url("~/assets/fonts/Dubai-Medium.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Dubai";
    src: url("~/assets/fonts/Dubai-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}
